.SearchEngine_AD1 {
	text-align: center;
	padding-top: 9px;
	padding-bottom: 9px;
	background-color: #FFF;
}

.SearchEngine_AD2 {
	text-align: right;
	padding-top: 9px;
	padding-bottom: 9px;
	background-color: #FFF;
}